.overview-box {
  margin-bottom: 90px;
  font-size: 2rem;
  letter-spacing: 0.4px;
  line-height: 1.875;
  font-family: "ヒラギノUD角ゴ Std W3", sans-serif;
}
.overview-sub-box,
.overview-third-box {
  margin-bottom: 20px;
  margin-top: 30px;
}

.overview-third-box .disc-list {
  margin-bottom: 40px;
}

.Research_support_list2 li h5 {
  font-size: 2rem;
  letter-spacing: 0.4px;
  line-height: 1.875;
  font-family: "ヒラギノUD角ゴ Std W6", sans-serif;
  color: var(--b-color);
}

/* .overview-list{
      list-style: disc;
  } */

/* .overview-list{
      padding-left: 20px;
  }
  .overview-list li p{
      margin-left: -20px;
  } */

/* p,ul li {
      font-size: 2rem;
      letter-spacing: 0.4px;
      line-height: 1.875;    
  } */
h3,
h4,
h5 {
  font-size: 2.5rem;
  letter-spacing: 1.25px;
  line-height: 1.7;
  color: #194762;
}
.research_institute_list ol li {
  font-family: "ヒラギノUD角ゴ Std W6", sans-serif;
}

.national_research {
  margin-bottom: 85px;
}
.research_institute {
  margin-bottom: 30px;
}
.research_institute_list,
.Research_support_list1 {
  margin-bottom: 80px;
}
.organization_management {
  margin-bottom: 90px;
}
.Research_work {
  margin-bottom: 50px;
}
.Research_support_list2 {
  text-align: center;
  margin: 70px 0 140px;
}
.organization_management li,
.Research_work li,
.Research_support_list1 li,
.Research_support_list2 li {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .overview-box {
    margin-bottom: 45px;
    font-size: 1.5rem;
  }
  .overview-sub-box,
  .overview-third-box {
    margin-bottom: 35px;
  }
  .overview-third-box .disc-list {
    margin-bottom: 20px;
  }
  .Research_support_list2 {
    text-align: center;
    margin: 35px 0 45px;
  }
  .Research_support_list2 li h5 {
    font-size: 1.5rem;
  }

  /* h4, h5 {
          font-size: 1.8rem;
          letter-spacing: 1.25px;
          line-height: 1.7;
          color: #194762;
      } */
  .national_research {
    margin-bottom: 42px;
  }
  .research_institute {
    margin-bottom: 15px;
  }
  /* .research_institute_list,
      .Research_support_list1 {
          margin-bottom: 40px;
      } */
  .organization_management {
    margin-bottom: 45px;
  }
  .Research_work {
    margin-bottom: 25px;
  }
  .organization_management li,
  .Research_work li,
  .Research_support_list1 li,
  .Research_support_list2 li {
    margin-bottom: 15px;
  }
}
