.plc-list-container {
  margin-bottom: 135px;
}
.plc-list,
.service-term {
  margin-bottom: 40px;
}
.plc-list .ttl {
  font-family: "ヒラギノUD角ゴ Std W6", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 1.25px;
  line-height: 1.7;
  color: #194762;
}
.service-term p,
.plc-list p,
.disc-list {
  font-family: "ヒラギノUD角ゴ Std W3", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.4px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .plc-list-container {
    margin-bottom: 30px;
  }
  .plc-list,
  .service-term {
    margin-bottom: 20px;
  }
  .plc-list .ttl {
    font-size: 2rem;
  }
  .service-term p,
  .plc-list p,
  .disc-list {
    font-size: 1.5rem;
  }
}

/* ====================================
  =================privacy/ Start========
  ======================================= */
.privacy-box .h4-ttl {
  margin-bottom: -5px;
}
.privacy-box p {
  font-size: 2rem;
  letter-spacing: 0.8px;
  line-height: 1.875;
  font-family: "ヒラギノUD角ゴ Std W3", sans-serif;
}
@media screen and (max-width: 768px) {
  .privacy-box p {
    font-size: 1.5rem;
  }
}
/* ====================================
  =================privacy/ end========
  ======================================= */
