/* theme start */
.sec-theme {
  padding-top: 150px;
  padding-bottom: 80px;
}
.theme-block {
  padding-top: 80px;
  padding-bottom: 15px;
}
.sec-theme .blue-color-block .research-block-ttl span {
  margin-bottom: 0;
}
.sec-theme .theme-list {
  padding-top: 5px;
}
.sec-theme .sub-ttl {
  margin-bottom: 25px;
}
.sec-theme .item-row {
  display: flex;
  justify-content: space-between;
  column-gap: 45px;
}
.sec-theme .item-img {
  max-width: 340px;
}
.sec-theme .theme-item {
  margin-bottom: 45px;
}
.sec-theme .theme-item:last-child {
  margin-bottom: 0px;
}
.sec-theme .theme-item p {
  font-family: "ヒラギノUD角ゴ Std W3", sans-serif;
  font-size: 2rem;
  line-height: 1.875;
  letter-spacing: 0.4px;
}
@media screen and (max-width: 768px) {
  .sec-theme {
    padding-top: 110px;
  }
  .theme-block {
    padding-top: 0;
  }
  .sec-theme .theme-item p {
    font-size: 1.5rem;
    line-height: 1.4;
  }
  .sec-theme .item-row {
    column-gap: 20px;
  }
  .sec-theme .theme-item {
    margin-bottom: 25px;
  }
  .sec-theme .item-img {
    max-width: 120px;
  }
}

/* theme end  */

/* facilities start */
.sec-facilities,
.sec-units {
  padding-top: 150px;
  padding-bottom: 80px;
}

.sec-units .pg-nowtpariTop .unit-h3-content {
  letter-spacing: -2px;
}

.pg-libraryTop .unit-h3-content {
  letter-spacing: 0.4px;
}
@media screen and (max-width: 768px) {
  .sec-facilities,
  .sec-units {
    padding: 120px 0 40px 0;
  }
}

/* facitlities end */
/* bsnsq start */
.unit-h3-block {
  font-family: "ヒラギノUD角ゴ Std W3", sans-serif;
}

.unit-h3-ttl {
  position: relative;
  padding-left: 49px;
}

.unit-h3-ttl span {
  display: block;
  padding: 6px 0 4px 9px;
  font-size: 3rem;
  font-family: "ヒラギノUD角ゴ Std W4", sans-serif;
  line-height: 1.6;
  color: #000;
  background-color: #ededed;
}

.unit-h3-ttl::before {
  position: absolute;
  content: "";
  background-color: #2c87c9;
  width: 36px;
  height: 100%;
  top: 0;
  left: 0;
}

.unit-h3-content {
  font-size: 2rem;
  line-height: 1.8;
}

.unit-pages-h4 {
  font-size: 2.5rem;
  font-family: "ヒラギノUD角ゴ Std W6", sans-serif;
  line-height: 1.7;
  color: #0052b2;
}

.record-main-ul {
  display: flex;
}

.record-main-li01 {
  width: 50%;
  padding-right: 50px;
}

.record-main-li02 {
  width: 50%;
  padding-left: 50px;
}

.details-box-wrapper {
  background-color: rgba(0, 82, 178, 10%);
  padding: 25px 42px 30px 42px;
}

.pg-bsnsqAnnounce .details-box-wrapper {
  padding: 35px 75px 30px 75px;
}

.unit-details-box .ttl {
  font-size: 2.5rem;
  line-height: 1.7;
}

.unit-details-flex {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.details-content-txt {
  font-size: 2rem;
  color: #000;
  line-height: 1.875;
  font-weight: 300;
}

.details-btn-txt a {
  font-size: 1.6rem;
  font-family: "こぶりなゴシック Std W6", sans-serif;
  color: #0052b2;
  border: 2px solid #0052b2;
  border-radius: 20px;
  line-height: 2;
  width: 144px;
  padding: 2px 0;
  display: flex;
  justify-content: center;
}

.unit-common-txt {
  font-size: 2rem;
  font-family: "ヒラギノUD角ゴ Std W3", sans-serif;
  line-height: 1.8;
  color: #000;
}

.bsnsqAnnounce-maru-ttl {
  line-height: 2rem;
  font-family: "ヒラギノUD角ゴ StdN W5", sans-serif;
  line-height: 1.785;
  position: relative;
  padding-left: 20px;
}

.bsnsqAnnounce-maru-ttl::before {
  position: absolute;
  content: "○";
  left: 0;
}

.media-375jump {
  display: none;
}

.color-194762 {
  color: #194762;
}

.nowtpariTop-brownbox {
  padding: 22px 38px 38px 15px;
  background-color: #ededed;
}

.ls-0 {
  letter-spacing: 0;
}

.pg-bsnsqAnnounce #breadcrumb .crumb-in li a,
.pg-bsnsqTop #breadcrumb .crumb-in li a,
.pg-nowtpariTop #breadcrumb .crumb-in li a {
  letter-spacing: -0.8px;
}
.nowt-pari-ul li {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.pg-nowtpariTop .list-col-2 ul,
.pg-bsnsqTop .list-col-2 ul {
  gap: 100px;
}

@media screen and (max-width: 768px) {
  .unit-common-txt {
    font-size: 1.5rem;
    line-height: 1.45;
  }

  .unit-h3-ttl {
    padding-left: 26px;
  }

  .unit-h3-ttl::before {
    width: 18px;
  }

  .unit-h3-ttl span {
    font-size: 2rem;
    line-height: 1.4;
  }

  .unit-h3-content {
    font-size: 1.5rem;
    line-height: 1.45;
  }

  .unit-pages-h4 {
    font-size: 1.8rem;
    line-height: 1.4;
  }

  .record-main-ul {
    flex-direction: column;
  }

  .record-main-li01,
  .record-main-li02 {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }

  .icon-list-section ul .border-sp-none {
    border-top: none;
  }

  .unit-details-box .ttl {
    font-size: 1.8rem;
  }

  .unit-details-flex {
    flex-direction: column;
  }

  .details-box-wrapper {
    padding: 15px 25px 25px 25px;
  }

  .details-content-txt {
    font-size: 1.5rem;
  }

  .details-btn-txt {
    display: flex;
    justify-content: flex-end;
  }
  .details-btn-txt a {
    font-size: 1.3rem;
    border-radius: 14px;
    width: 125px;
    padding: 0;
  }

  .pg-bsnsqAnnounce .details-box-wrapper {
    padding: 25px 20px 25px 20px;
  }

  .bsnsqAnnounce-maru-ttl {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .unnit-common-txt.txt-edit01 {
    font-size: 1.3rem;
  }

  .common-sp-lh {
    line-height: 1.4 !important;
  }
  .pg-nowtpariTop .list-col-2 ul,
  .pg-bsnsqTop .list-col-2 ul {
    gap: 0;
  }
}

@media screen and (max-width: 376px) {
  .media-375jump {
    display: block;
  }
}

/* bsnsq end */
/* kaiyo */
.kaiyo .div-sec {
  margin-bottom: 100px;
}

.kaiyo .div-sec:last-child {
  margin-bottom: 0;
}

.kaiyo .card-item {
  margin-bottom: 65px;
}

.kaiyo .card-item:last-child {
  margin-bottom: 0;
}

.kaiyo .card-inner {
  padding-left: 24px;
}

.kaiyo .card-title-two p {
  padding: 20px 0 22px;
}

.kaiyo .card-right {
  padding: 0 20px 0 16px;
}
.d-inline {
  display: inline;
}

@media screen and (max-width: 768px) {
  .kaiyo .div-sec {
    margin-bottom: 50px;
  }
  .kaiyo .card-item {
    margin-bottom: 32.5px;
  }
  .kaiyo .card-inner {
    padding: 15px;
  }

  .kaiyo .card-img-two {
    max-width: 350px;
    margin: 0 auto 20px;
  }

  .kaiyo .card-title-two p {
    padding: 0px 0 10px;
  }

  .kaiyo .card-right {
    padding: 0;
  }
}

/* kaiyo  end*/

/* gooda_library start */

.unit-h3-flexbox {
  display: flex;
  flex-direction: row;
}
.unit-h3-flexbox .imgbox {
  width: 356px;
}
.unit-h3-flexbox .unit-h3-content {
  width: calc(100% - 356px);
  padding-left: 42px;
  margin-top: -5px;
}
.unit-h3-flexbox02 {
  display: flex;
  flex-direction: column;
}
.unit-h3-flexbox02 .imgbox {
  width: 100%;
}
.unit-h3-flexbox02 .unit-h3-content {
  width: 100%;
}
.contact-tel {
  margin-top: -3px;
}
@media screen and (max-width: 768px) {
  .unit-h3-flexbox {
    flex-direction: column;
  }
  .unit-h3-flexbox .imgbox {
    width: auto;
    max-width: 365px;
  }
  .unit-h3-flexbox .unit-h3-content {
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }
}
/* gooda_library end */

/* member  start*/
.member-bk-gp {
  margin-bottom: 60px;
}
.member-bk-ttl {
  font-size: 3rem;
}
.member-list-bk {
  margin-top: 22px;
}
.member-list-bk .member-list {
  display: flex;
}
.member-list-bk .member-list-imgBox {
  width: 208px;
}
.member-list-bk .para-txt {
  width: calc(100% - 208px);
  padding-left: 40px;
}
.member-list-bk .para-txt p {
  font-size: 2rem;
  line-height: 1.3;
  padding-bottom: 10px;
}
.member-m-ttl {
  font-size: 2.5rem;
  color: #0052b2;
  margin-bottom: 15px;
  line-height: 1.7;
}
.member-history .his-para .para-txt {
  font-size: 2rem;
  line-height: 1.6;
}
.member-history .his-para a {
  text-decoration: underline;
}
.member-sm-ttl {
  font-size: 2rem;
  font-family: "ヒラギノUD角ゴ StdN W5", sans-serif;
  padding-left: 22px;
  position: relative;
  line-height: 1.3;
}
.member-sm-ttl::before {
  content: "";
  background: var(--blue-color);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 2px;
}
.member-sm-subttl {
  font-size: 2rem;
  line-height: 1.3;
  font-family: "ヒラギノUD角ゴ StdN W5", sans-serif;
}
.member-research-bk .research-para {
  padding: 10px 0 10px 32px;
  line-height: 1.5;
}
.member-ol-edit li {
  font-size: 1.4rem;
  letter-spacing: 0;
  line-height: 1.7;
  padding-left: 8px;
}
.pg-memberTop01 #breadcrumb {
  margin-top: 80px !important;
}
.member-ol-edit li::marker {
  font-size: 1.4rem;
  font-family: "ヒラギノUD角ゴ Std W3", sans-serif;
  letter-spacing: 0;
  line-height: 1.7;
}

/*20230131追加*/
.member-sm-ttl-green {
  font-size: 2rem;
  font-family: "ヒラギノUD角ゴ StdN W5", sans-serif;
  padding-left: 22px;
  position: relative;
  line-height: 1.3;
  margin-bottom: 8px;
}
.member-sm-ttl-green::before {
  content: "";
  background: var(--green-color);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 6px;
  left: 2px;
}
.member-sm-ttl-red {
  font-size: 2rem;
  font-family: "ヒラギノUD角ゴ StdN W5", sans-serif;
  padding-left: 22px;
  position: relative;
  line-height: 1.3;
}
.member-sm-ttl-red::before {
  content: "";
  background: var(--red-color);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 2px;
}
/*20230131追加ここまで*/

@media screen and (max-width: 768px) {
  .member-list-bk .member-list {
    display: block;
  }
  .member-list-bk .para-txt {
    padding-left: 0;
    width: 100%;
  }
  .member-bk-ttl {
    font-size: 2rem;
  }
  .member-list-bk .para-txt p {
    font-size: 1.5rem;
    padding-bottom: 7px;
  }
  .member-bk-gp {
    margin-bottom: 30px;
  }
  .member-m-ttl {
    font-size: 1.8rem;
    margin-bottom: 7px;
  }
  .member-history .his-para .para-txt {
    font-size: 1.5rem;
  }
  .member-research-bk .research-para {
    padding: 6px 0 10px 26px;
  }
  .member-sm-ttl {
    font-size: 1.5rem;
    padding-left: 18px;
  }
  .member-sm-ttl::before {
    width: 13px;
    height: 13px;
    top: 3px;
  }
  .member-ol-edit li {
    font-size: 1.2rem;
    padding-left: 5px;
  }
  .member-ol-edit li::marker {
    font-size: 1.2rem;
  }
  .member-sm-subttl {
    font-size: 1.5rem;
  }
  /*20230131追加*/
  .member-sm-ttl-green {
    font-size: 1.4rem;
  }
  .member-sm-ttl-green::before {
    content: "";
    background: var(--green-color);
    width: 16px;
    height: 16px;
    position: absolute;
    top: 1px;
    left: 2px;
  }
  .his-para.fz-hiraud-kakugo-stdw3 p {
    font-size: 1.5rem;
  }
  /*20230131追加ここまで*/
}
/* member end */
